
= link_to "Daily Calls", daily_calls_admin_metrics_path(:date => Date.today)
%br
= link_to "Weekly Calls", weekly_calls_admin_metrics_path(:date => Date.today)
%br
= link_to "All Calls", all_calls_admin_metrics_path
%br
= link_to "Calls Per Day", calls_per_day_admin_metrics_path
%br
= link_to "Prospect Analysis", prospects_admin_metrics_path
%br
= link_to "Prospects Dump", prospects_dump_admin_metrics_path
%br
= link_to "Tags", tags_admin_metrics_path
