%h2 Weekly Calls

%p From #{@date.beginning_of_week} to #{@date.end_of_week}

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
      %th Voicemails
      %th Callback Later
      %th Requested Email
      %th Inbound Call
      %th Scheduled Demo
      %th Not Interested
      %th Total # of Calls
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.call_events.voicemail.by_week(@date).count
        %td= user.call_events.callback_later.by_week(@date).count
        %td= user.call_events.requested_email.by_week(@date).count
        %td= user.call_events.inbound_call.by_week(@date).count
        %td= user.call_events.scheduled_demo.by_week(@date).count
        %td= user.call_events.not_interested.by_week(@date).count
        %td= user.call_events.by_week(@date).count
